/book.txt
/cn_book.txt
/dynamic_flexible_matched_pairs.txt
/en_book.txt
/Heaven Official's Blessing.txt
/low_similarity_pairs.txt
/matched_pairs.txt
/myenv
/others
/output
/report.txt
/sub.vtt
/subtitile.txt
/subtitle.txt
/subtitle.vtt
/TGCF
/timing_book.txt
/try1.txt
/try2.txt
/try3.txt
/__pycache__